html * {
    font-family: 'Roboto','Battambang';
}
.page-loader-wrapper {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    overflow: hidden;
    text-align: center;
    margin: unset;
}
.page-loader-wrapper p {
    font-family: 'Battambang', 'NotoSans' !important;
}

.topbar {
    width: 100%;
    z-index: 1001;
    position: sticky;
    top: 0;
}

.loader {
    position: relative;
    top: calc(50% - 30px);
}
.dataTables_info {
    font-weight: 400 !important;
}
.bg-red{
    background-color: red !important;
}
.bg-add {
    background-color: #5499C7;
}
li:hover a,i{
    color: #74788d !important;
}
.mm-active>a {
    background-color: #063d7a2c !important;
    color: #74788d !important;
}

.mm-active>a i {
    background-color: #063d7a2c !important;
    color: #74788d !important;
}

.btn-info {
    background-color: #16778b !important;
}
.text-info {
    color: #16778b !important;
}
table thead tr{
    background-color: #16778b !important;
}
table thead tr th{
    color: white !important;
}
.modal-content .modal-header {
    background-color: #1c2d41 !important;
}
.bg-info{
    background-color: #16778b !important;
}
.modal-content .bg-info {
    background-color: #16778b !important;
}